<!-- Footer-->
<footer>
  <div class="link-containers footer-container">
    <a href="/index.html">Home</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
    <a href="/product">Products</a>
    <a href="/more">More</a>
    <a href="#main-content">Back to top</a>
  </div>
  <div id="footer-logo">
    <a href="/index.html" id="header-logo-refer-link">
      <img
        src="/resources/main/cloudTechPhLogo.png"
        alt="cloudTechPhLogo"
        loading="lazy"
        id="footer-logo-clickable"
      />
    </a>
  </div>
</footer>
<!-- / Footer-->
