<!-- Nav Bar-->
<nav id="top-nav-bar">
  <header>
    <a href="/index.html" id="header-logo-refer-link">
      <img
        src="/resources/main/cloudTechPhLogo.png"
        alt="cloudTechPhLogo"
        loading="lazy"
      />
      <span>CloudTech.ph</span>
    </a>
  </header>

  <div class="link-containers" id="nav-links-responsive">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
    <a href="/product">Products</a>
    <a href="/more">More</a>
  </div>
  <div class="dropdown">
    <a
      class="btn btn-secondary dropdown-toggle"
      href="#"
      role="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Menu
    </a>

    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="/">Home</a></li>
      <li><a class="dropdown-item" href="/about">About</a></li>
      <li><a class="dropdown-item" href="/contact">Contact</a></li>
      <li><a class="dropdown-item" href="/product">Product</a></li>
      <li><a class="dropdown-item" href="/more">More</a></li>
    </ul>
  </div>
</nav>

<!--/ Nav Bar-->
