<!-- Nav Bar-->
<nav id="top-nav-bar">
  <header>
    <a href="/index.html" id="header-logo-refer-link">
      <img
        src="/resources/main/cloudTechPhLogo.png"
        alt="cloudTechPhLogo"
        loading="lazy"
      />
      <span>CloudTech.ph</span>
    </a>
  </header>

  <div class="link-containers" id="nav-links-responsive">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
    <a href="/product">Products</a>
    <a href="/more">More</a>
  </div>
</nav>
<!--/ Nav Bar-->
