---
title: About | Cloudtech.ph
layout: "base.njk"
import: "/command/about/"
---

<!-- Main Content-->
<main id="main-content">
  <!-- first container-->
  {%- for post in collections.about -%}
  <section class="article-about">
    <div class="article-content-text">
      <h2>{{ post.data.first_article_name }}</h2>

      <p id="history">{{ post.data.first_article_description }}</p>
    </div>
  </section>
  <!-- /first container-->

  <!-- second container-->
  <section class="article-about">
    <div class="article-content-text">
      <h2>{{ post.data.second_article_name }}</h2>
      <p>
        {{ post.data.second_article_description }}
      </p>
    </div>
  </section>
  <!-- second container-->

  <!-- third container-->
  <section class="article-about">
    <div class="article-content-text">
      <h2>{{ post.data.third_article_name }}</h2>
      <p>
        {{ post.data.third_article_description }}
      </p>
    </div>
  </section>
  <!-- third container-->

  <!-- fourth container-->
  <section class="article-about">
    <div class="article-content-text">
      <h2>{{ post.data.fourth_article_name }}</h2>
      <p>{{ post.data.fourth_article_description }}</p>
    </div>
  </section>
  {%- endfor -%}
  <!-- fourth container-->
</main>
<!-- / Main Content-->
