---
title: about
layout: "base.njk"
---

<!-- Main Content-->
<main id="main-content">
  <!-- first container-->
  <section class="article-about">
    <div class="article-content-text">
      <h2>History</h2>
      <p id="history">
        The proprietor of Cloud Tech.PH is Melvin Mallari, and he co-owns the
        company with his wife, Shinelle Ann Mallari. His line of work is online
        retail business marketing. They launched their company in the midst of a
        pandemic during the final quarter of 2020. They were offering gloves for
        bicycles back then. They purchased the supplies for their gloves in
        China and sold them on Facebook. After that, they started selling
        everyday items including shoes, clothing, sunglasses, watches, and a
        variety of other things. In actuality, their general product sales
        business has endured longer than their bicycle glove sales operation.
        They are currently selling their goods online and on a variety of
        platforms, including Facebook, Shopee, Lazada, and Tiktok. In June 2023,
        they introduced a brand-new product called Cone Bite Delight. It is a
        chocolate-filled ice cream cone. Since they don't yet have a physical
        store, they continue to sell online. Its firm is currently doing quite
        well, but throughout its three years of operation, things haven't always
        gone as planned. They alternate between being at the top and the bottom.
        However, that's how business is; there will always be something standing
        in your way of success. Do not let negative events ruin your business;
        instead, keep going and focus on the things that will help it grow.
      </p>
    </div>
  </section>
  <!-- /first container-->

  <!-- second container-->
  <section class="article-about">
    <div class="article-content-text">
      <h2>Mission</h2>
      <p>
        To give the customer the best, most compelling and affordable shopping
        experience.
      </p>
    </div>
  </section>
  <!-- second container-->

  <!-- third container-->
  <section class="article-about">
    <div class="article-content-text">
      <h2>Vision</h2>
      <p>
        To build a place where people can come and discover anything they want
        to buy online and to provide small entrepreneur development growth as
        being our partners.
      </p>
    </div>
  </section>
  <!-- third container-->

  <!-- fourth container-->
  <section class="article-about">
    <div class="article-content-text">
      <h2>Core Values</h2>
      <p>Respect | Sincerity | Integrity | Professionalism | Accountability</p>
    </div>
  </section>
  <!-- fourth container-->
</main>
<!-- / Main Content-->
