---
title: Contact | Cloudtech.ph
layout: "base.njk"
css: "../styles.css"
---

<!-- Main Content-->
{%- for post in collections.contact -%}
<main id="main-content">
  <!-- first container-->
  <section class="article-about" data-aos="fade-in">
    <div class="article-content-text">
      <h2>{{ post.data.name }}</h2>
      <p>You can contact us in the following platforms below</p>
      <p>
        <i class="fa-regular fa-envelope"></i>

        Email:
        <a href="mailto:{{ post.data.email_address }}" class="contact-links">{{
          post.data.email_address
        }}</a>
      </p>
      <p>
        <i class="fa-solid fa-phone"></i> Contact number:
        {{ post.data.contact_number }}
      </p>
      <p>
        <i class="fa-brands fa-facebook"></i>
        Facebook:
        <a href="{{ post.data.facebook_page_link }}" class="contact-links">{{
          post.data.facebook_page_name
        }}</a>
      </p>
      <p>
        <i class="fa-solid fa-location-dot"></i>
        Address: {{ post.data.physical_address }}
      </p>
    </div>
  </section>
  <!-- /first container-->

  <!-- second container-->
  <section class="article-about" id="section-map" data-aos="fade-in">
    <div>
      <h2 style="margin: 30px 0">Location Map</h2>
    </div>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d964.9739331131383!2d121.1478439333962!3d14.66185818697913!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397b96764aaeff9%3A0x75d96649f54335aa!2sDream%20Homes!5e0!3m2!1sen!2sph!4v1703225542780!5m2!1sen!2sph"
      width="600"
      height="450"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </section>
  {%- endfor -%}
  <!-- second container-->
</main>
<!-- / Main Content-->
