---
title: Contact | Cloudtech.ph
layout: "base.njk"
css: "../styles.css"
---

<!-- Main Content-->
{%- for post in collections.contact -%}
<main id="main-content">
  <!-- first container-->
  <section class="article-about">
    <div class="article-content-text">
      <h2>{{ post.data.name }}</h2>
      <p>You can contact us in the following platforms below</p>
      <p>
        <i class="fa-regular fa-envelope"></i>

        Email:
        <a href="mailto:{{ post.data.email_address }}" class="contact-links">{{
          post.data.email_address
        }}</a>
      </p>
      <p>
        <i class="fa-solid fa-phone"></i> Contact number:
        {{ post.data.contact_number }}
      </p>
      <p>
        <i class="fa-brands fa-facebook"></i>
        Facebook:
        <a href="{{ post.data.facebook_page_link }}" class="contact-links">{{
          post.data.facebook_page_name
        }}</a>
      </p>
      <p>
        <i class="fa-solid fa-location-dot"></i>
        Address: {{ post.data.physical_address }}
      </p>
    </div>
  </section>
  <!-- /first container-->

  <!-- second container-->
  <section class="article-about" id="section-map">
    <div>
      <h2>Location Map</h2>
    </div>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15445.935287355009!2d121.105713!3d14.571485000000001!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397b94da8610079%3A0x3a1fc7cadf52e586!2sCLOUDTECH%20PH!5e0!3m2!1sen!2sph!4v1698054212217!5m2!1sen!2sph"
      style="border: 0"
      allowfullscreen="yes"
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </section>
  {%- endfor -%}
  <!-- second container-->
</main>
<!-- / Main Content-->
