---
title: Home | Cloudtech.ph
layout: "base.njk"
css: "../styles.css"
---

<!-- Main Content-->
<main id="main-content">
  {%- for post in collections.homepage -%}
  <!-- First container - Welcome Section-->
  <section id="welcome-section">
    <h1 id="header-title">CloudTech.ph</h1>
    <p>Provides a treat that can satisfy everyone's sweet tooth</p>
    <a href="/product">
      <button>Shop Now</button>
    </a>
  </section>
  <!-- /First container - Welcome Section-->

  <!-- Second container-->
  <section class="article-section">
    <div>
      <a href="{{ post.data.first_article_link }}">
        <img
          src="{{ post.data.first_article_image }}"
          alt="{{ post.data.first_article_image_alternative }}"
          loading="lazy"
        />
      </a>
    </div>
    <div class="article-content-text">
      <h2>{{ post.data.first_article_name }}</h2>
      <p>
        {{ post.data.first_article_description }}
      </p>
      <a href="{{ post.data.first_article_link }}">
        <button>More</button>
      </a>
    </div>
  </section>
  <!-- /Second container-->

  <!-- Third container-->
  <section class="article-section">
    <div>
      <a href="{{ post.data.second_article_link }}">
        <img
          src="{{ post.data.second_article_image }}"
          alt="{{ post.data.second_article_image_alternative }}"
          loading="lazy"
        />
      </a>
    </div>
    <div class="article-content-text">
      <h2>{{ post.data.second_article_name }}</h2>
      <p>
        {{ post.data.second_article_description }}
      </p>
      <a href="{{ post.data.second_article_link }}">
        <button>More</button>
      </a>
    </div>
  </section>
  <!-- /Third container-->
</main>
{%- endfor -%}
<!-- / Main Content-->

<!-- Hardcoded :) Love from ICTE-101P <3 -->
