---
title: More | Cloudtech.ph
layout: "base.njk"
css: "../styles.css"
---

<!-- Main Content-->
<main id="main-content">
  <section class="article-about">
    <!-- first container-->
    <div class="article-content-text">
      <h2>More</h2>
      <p>
        This project is made by the members from Group 3 - ICTE-101P in
        accordance to the iLS (i Learn and Share) project for computer
        programming 1 / 2. The goal of this project is to provide a CMS (Content
        management system) to a certain buisnss to improve its reach for its
        customers. This project would not be possible without our client
        CloudTech.ph and other resources that helped this project to become a
        reality.
      </p>
    </div>
  </section>
  <!-- first container-->

  <!-- second container-->
  <section class="article-about">
    <div class="article-content-text">
      <h2>Members</h2>
      <ul id="members-list">
        <li>Obseñares - Researcher</li>
        <li>Pinca - Researcher</li>
        <li>Oclarino - Writer</li>
        <li>Bitara - Writer</li>
        <li>Gacita - Writer</li>
        <li>Zamora - Presentation</li>
        <li>Sauro - Programmer</li>
        <li>Ebrada - Programmer</li>
        <li>Del Rosario - Programmer</li>
        <li>Manipor - Programmer</li>
        <li>Salvaloza - Programmr</li>
      </ul>
    </div>
  </section>
  <!-- second container-->

  <!-- third container-->
  <section class="article-about">
    <div class="article-content-text">
      <h2>Special Thanks</h2>
      <p>CloudTech.ph</p>
    </div>
  </section>
  <!-- third container-->
</main>
<!-- / Main Content-->
