---
title: More | Cloudtech.ph
layout: "base.njk"
css: "../styles.css"
---

<!-- Main Content-->
<main id="main-content">
  <section class="article-about">
    <!-- first container-->
    {%- for post in collections.more -%}
    <div class="article-content-text">
      <h2>{{ post.data.first_article_name }}</h2>
      <p>
        {{ post.data.first_article_description }}
      </p>
    </div>
  </section>
  <!-- first container-->

  <!-- second container-->
  <section class="article-about">
    <div class="article-content-text">
      <h2>{{ post.data.second_article_name }}</h2>
      <ul id="members-list">
        <li>{{ post.data.memberA }}</li>
        <li>{{ post.data.memberB }}</li>
        <li>{{ post.data.memberC }}</li>
        <li>{{ post.data.memberD }}</li>
        <li>{{ post.data.memberE }}</li>
        <li>{{ post.data.memberF }}</li>
        <li>{{ post.data.memberG }}</li>
        <li>{{ post.data.memberH }}</li>
        <li>{{ post.data.memberI }}</li>
        <li>{{ post.data.memberJ }}</li>
        <li>{{ post.data.memberK }}</li>
      </ul>
    </div>
  </section>
  <!-- second container-->

  <!-- third container-->
  <section class="article-about">
    <div class="article-content-text">
      <h2>{{ post.data.third_article_name }}</h2>
      <p>{{ post.data.third_article_description }}</p>
    </div>
  </section>
  {%- endfor -%}
  <!-- third container-->
</main>
<!-- / Main Content-->
